.landing {
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .heading {
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
  }

  .text {
    p {
      display: flex;
      flex-direction: column;
    }

    .lineOne {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: -0.5px;
    }

    .lineTwo {
      font-size: 1.2rem;
      font-weight: 300;
      opacity: 0.7;
    }
  }
}