:root {
    --font-display: 'Clash Display', sans-serif;
    --font-body: 'General Sans', sans-serif;
    --font-tech: 'Space Mono', monospace;
    --trasition-grid: #f2f0e6
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display), sans-serif;
}

body {
    font-family: var(--font-body), sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #151515;
}

code, pre {
    font-family: var(--font-tech), sans-serif;
}


* {
    margin: 0;
    padding: 0;
}



::selection {
    background: #c0ff0d;
    color: #000000;
}

.split-parent {
    overflow: hidden;
}

.split-child {
    display: inline-block;
}


::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.transition-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.transition-block {
    flex: 1;
    width: 100%;
    background-color: var(--trasition-grid);
    transform: scaleX(0);
    transform-origin: left center;
    will-change: transform;
}

.transition-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10000;
}

.transition-text h1 {
    font-size: clamp(1.5rem, 3vw, 4.5rem);
    font-weight: 500;
    letter-spacing: -3%;
    line-height: 1;
    text-transform: uppercase;
    color: #121212;
}

.transition-text .word {
    transform: translateY(100%);
    will-change: transform;
}






